:root {
    --primary-color: #EEEEEE;
    --secondary-color: white;
    --text-color: black;
    /* --secondary-color: lightsteelblue; */
    /* #f0f8ff - light blue color */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html { 
    font-size: 100%; 
    font-family: sans-serif;
    color: var(--text-color);
    /* scroll-behavior: smooth; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body { height: 100%; background-color: var(--secondary-color);}

ul { list-style: none; }

a { 
    color: rgb(56, 113, 224); 
    transition: 0.3s;
    text-decoration: none;
}

/* a:hover { color: tan; } */
a:hover { text-decoration: underline; }

hr { border: 1px solid #DDDDDD; }
/* hr { border: 1px solid rgba(0,0,0,0.2); margin: 1rem; } */

/* h3 { background-color: #EEEEEE; } */

/* ID selectors */
#page_content { overflow: auto; }

#navbar { 
    padding-bottom: 1rem;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    background-color: var(--primary-color);
    /* background-color: #f0f8ff; */
    /* background-color: #B3EBF2; */
}

/* #about, #services, #location, #hours, #gallery, #footer { font-size: 1.25rem; } */
/* #about, #services, #location-hours, #gallery, #footer { font-size: 1.25rem; } */

#main-photo {
    height: 250px;
    width: auto;
    border-radius: 5%;
}

#thumbnail-container { gap: 0.4rem; }

/* #about { background-color: var(--secondary-color); } */
/* #services { background-color: #54d8e7; } */
/* #hours-location { background-color: var(--secondary-color); }  */

#footer { background-color: var(--primary-color); padding: 1rem 0; }

/* Debugging classes */
/* .border-debugger { border: 1px solid red; } */

/* Flexbox classes */
.flex { display: flex; }

/* row */
.flex-row { flex-direction: row; }

.flex-row-horizontally-centered { justify-content: center; }

.flex-row-vertically-centered { align-items: center; }

.flex-row-right-justified { justify-content: flex-end; }

.flex-row-left-justified { justify-content: flex-start; }

/* .flex-row-space-between { justify-content: space-between; } */

/* column */
.flex-column { flex-direction: column; }

.flex-column-horizontally-centered { align-items: center; }

.flex-column-vertically-centered { justify-content: center; }

.flex-medium-gap { gap: 2rem; }

.flex-small-gap { gap: 1rem; }

.flex-xsmall-gap { gap: 0.3rem; }

.flex-wrap { flex-wrap: wrap; }

.flex-item-equal-spacing { flex: 1 }

.flex-grow { flex-grow: 1; }

/* Grid classes */
.grid { display: grid; gap: 0.1rem; }

.grid-template-rows { grid-template-rows: repeat(2, auto); }

.grid-template-columns { grid-template-columns: repeat(3, auto); }

.grid-horizontally-center-align-items  { text-align: center; }

.grid-vertically-center-align-items  { align-items: center; }


/* .grid-template-rows { grid-template-rows: repeat(5, 100px); }

.grid-template-columns { grid-template-columns: repeat(1, 1fr); }

.grid-template-areas { grid-template-areas: "beard-trim"
                                            "shave"
                                            "haircut"
                                            "haircut-shampoo"
                                            "haircut-trim"; 
} */

.grid-gap { gap: 20px; }

.beard-trim { grid-area: beard-trim; }

.shave { grid-area: shave; }

.haircut { grid-area: haircut; }

.haircut-shampoo { grid-area: haircut-shampoo; }

.haircut-trim { grid-area: haircut-trim; }


/* Utility classes */

.larger-text { font-size: 1.1rem; }

.centered-text { text-align: center; }

.small-top-bottom-padding { padding: 2rem 0; }

.small-top-padding { padding-top: 2rem; }

.small-right-padding { padding-right: 2rem; }

.small-bottom-padding { padding-bottom: 2rem; }

.small-left-padding { padding-left: 2rem; }

.whitespace-nowrap { white-space: nowrap; }

/* Non-reusable classes */

/* .navlink { box-shadow: 0 0.1rem black; } */

/* About section classes */
/* .about-container, .services-container, .location-hours-container, .gallery-container { padding: 2.5rem; } */
/* .about-container, .services-container, .location-hours-container, .gallery-container { padding: 2.5rem; background-color: var(--primary-color); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); } */

.the-lady-barber-logo { 
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.about-img {
    width: 15rem;
    height: auto;
    border-radius: 5%;
}

/* .about-text-container { min-width: 50%; } */

.google-facebook-logo {
    width: 30px;
    height: auto;
    /* padding: 0.3rem; */
}

/* Services section classes */

.service-card {
    border-radius: 2.5%;
    /* background-color: var(--primary-color); */
    padding: 1rem;
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.2); */
}

.service-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.0775rem 0;
}

.service-img { 
    width: 10rem;
    height: 10rem;
}

/* .services-text-font-size { font-size: 1.5rem; } */

/* Hours and Location section classes */
/* .hours-text-font-size { font-size: 1.5rem; } */

/* .location-container { 
    min-width: 350px;
    max-width: 400px; 
} */

.hours-container {
    /* border: 1px solid red; */
    /* padding: 0.5rem; */
    /* background-color: var(--primary-color); */
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.2); */
    /* min-width: 350px;
    max-width: 350px; */
}

.day-grid-item { /*background-color: #EEEEEE;*/ text-align: center; align-content: center; padding: 0.5rem; }

.open-hours-grid-item { /*background-color: #D8FFDD;*/ text-align: center; align-content: center; padding: 0.5rem; }

.closed-hours-grid-item { /*background-color: #FFD8D9;*/ text-align: center; align-content: center; padding: 0.5rem; color: red; }

.google-map {
    width: 350px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Gallery Page classes */
/* .gallery-photo-container { 
    justify-content: space-evenly;
    width: 100%;
} */

/* .gallery-photos {
    width: 150px;
    height: auto;
    height: 200px;
    width: auto;
    border-radius: 5%;
} */

/* .main-photo {
    height: 400px;
    width: auto;
    border-radius: 5%;
} */

/* .gallery-arrow-button {
    padding: 1rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    color: white;
} */

.gallery-arrow-container {
    background-color: #EEEEEE;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    /* user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; */
}

.gallery-arrow-icon {
    width: 10px;
    height: auto;
    outline: none;
    /* user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; */
    /* -webkit-touch-callout: none; */
}

.thumbnail {
    height: 75px;
    width: auto;
    border-radius: 5%;
    cursor: pointer;
}

.current-thumbnail {
    /* box-shadow: 0 0.3rem #BBBBBB; */
    box-shadow: 0 -0.3rem #EC9536;
    /* box-shadow: 0 0.3rem var(--text-color); */
}

/* Footer classes */
/* .footer-text-font-size { font-size: 1.25rem; } */

@media (min-width: 400px) {
    #main-photo {
        height: 275px;
    }
}

@media (min-width: 600px) {
    #main-photo {
        height: 400px;
    }

    /* .grid-template-rows { grid-template-rows: repeat(2, 100px); }

    .grid-template-columns { grid-template-columns: repeat(6, 1fr); }

    .grid-template-areas { grid-template-areas: "beard-trim beard-trim shave shave haircut haircut"
                                            "haircut-shampoo haircut-shampoo haircut-shampoo haircut-trim haircut-trim haircut-trim"; 
    } */
}

@media (min-width: 800px) {
    #main-photo {
        height: 525px;
    }
}