:root { --primary-color: #EEEEEE;
        --secondary-color: white;
        --tertiary-color: #90c9fb;
        --quarternary-color: rgba(210, 210, 210, .5); }

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; }

html { font-size: 100%; 
       font-family: sans-serif;
       color: black; }

body { background-color: var(--secondary-color); }

html, body { height: 100%; }

ul { list-style: none; }

a { color: rgb(56, 113, 224); 
    text-decoration: none; }

a:hover { text-decoration: underline; }

hr { border: 1px solid #DDDDDD; }

/* .border-debugger { border: 1px solid red; } */

.flex { display: flex; }

.flex-column { flex-direction: column; }

.flex-align-items-center { align-items: center; }

.flex-wrap { flex-wrap: wrap; }

.flex-grow { flex-grow: 1; }

.italic { font-style: italic; }

.nowrap { white-space: nowrap; }

/* We can make all of these classes more efficient */
.flex-small-gap { gap: 1rem; }

.flex-xsmall-gap { gap: 0.3rem; }

.small-top-padding { padding-top: 1.5rem; }

.small-right-padding { padding-right: 1.5rem; }

.small-bottom-padding { padding-bottom: 1.5rem; }

.small-left-padding { padding-left: 1.5rem; }

/* ID selectors */
#page_content { overflow: auto; }

#navbar { padding-bottom: 1rem;
          background: linear-gradient(90deg, var(--primary-color) 5%, var(--tertiary-color) 100%); }

#footer { background-color: var(--primary-color); 
          padding: 1rem 0; }

/* Non-reusable classes */
.header-logo { width: 4rem;
               height: 4rem;
               border-radius: 50%; }

.hours-container-gap { gap: 2rem; }

.closed-text { color: red; }

.footer-icon { width: 1.75rem;
               height: auto; }

.map { height: 35vh;
       border: 1px solid black; }

/* Services classes */
/* may use this in place of flex-xsmall-gap in the services section later */
.service-item-gap { gap: 0.3rem; }

/* Gallery classes */
.gallery-widget { border: 0.6rem solid var(--quarternary-color); 
                  border-radius: 2%; }

.gallery-widget-grid { display: grid;
                       grid-template-columns: auto;
                       margin: auto; }

.gallery-widget-layer { grid-row-start: 1;
                        grid-column-start: 1; }

#gallery-main-photo-container { position: relative;
                                width: 100%; 
                                aspect-ratio: 16 / 9; }

#gallery-main-photo { width: 100%; 
                      height: 100%;
                      object-fit: contain;
                      display: block; }

.gallery-arrow-container { display: flex;
                           background-color: var(--quarternary-color);
                           border-radius: 50%;
                           cursor: pointer;
                           z-index: 10;
                           width: 60px;
                           height: 60px;
                           margin: auto; }

.gallery-arrow-icon { width: 15px;
                      height: auto;
                      margin: auto; }

.gallery-left-arrow { margin-left: 0.5rem; }

.gallery-right-arrow { margin-right: 0.5rem; }

/* Thumbnail */
#thumbnail-container { gap: 0.4rem; 
                       overflow-x: auto; 
                       scroll-behavior: smooth; 
                       padding: 0.3rem 0; 
                       background-color: var(--quarternary-color); }

.thumbnail { height: 75px;
             width: auto;
             border-radius: 5%;
             cursor: pointer; }

.current-thumbnail { box-shadow: 0 0.3rem #EC9536; }