:root {
    --primary-color: #EEEEEE;
    --secondary-color: white;
    --tertiary-color: #90c9fb;
    --quarternary-color: rgba(210, 210, 210, .5);
    --text-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html { 
    font-size: 100%; 
    font-family: sans-serif;
    color: var(--text-color);
}

body { height: 100%; background-color: var(--secondary-color);}

ul { list-style: none; }

a { 
    color: rgb(56, 113, 224); 
    transition: 0.3s;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

hr { border: 1px solid #DDDDDD; }

/* ID selectors */
#page_content { overflow: auto; }

#navbar { 
    padding-bottom: 1rem;
    background: linear-gradient(90deg, var(--primary-color) 5%, var(--tertiary-color) 100%);
}

#main-photo-container {
    position: relative;
    width: 100%; 
    aspect-ratio: 16 / 9;
}

#main-photo {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

#thumbnail-container { gap: 0.4rem; overflow-x: auto; scroll-behavior: smooth; /*padding: 0.3rem 0;*/ background-color: var(--quarternary-color); }

#footer { background-color: var(--primary-color); padding: 1rem 0; }

/* Debugging classes */
/* .border-debugger { border: 1px solid red; } */

/* Flexbox classes */
.flex { display: flex; }

/* row */
.flex-row { flex-direction: row; }

.flex-row-horizontally-centered { justify-content: center; }

.flex-row-vertically-centered { align-items: center; }

.flex-row-right-justified { justify-content: flex-end; }

.flex-row-left-justified { justify-content: flex-start; }

.flex-row-space-between { justify-content: space-between; }

/* column */
.flex-column { flex-direction: column; }

.flex-column-horizontally-centered { align-items: center; }

.flex-column-vertically-centered { justify-content: center; }

.flex-column-left-justified { align-items: flex-start; }

.flex-medium-gap { gap: 2rem; }

.flex-small-gap { gap: 1rem; }

.flex-xsmall-gap { gap: 0.3rem; }

.flex-wrap { flex-wrap: wrap; }

.flex-item-equal-spacing { flex: 1 }

.flex-grow { flex-grow: 1; }

.flex-no-grow { flex-grow: 0; }

/* Utility classes */

.larger-text { font-size: 1.1rem; }

.centered-text { text-align: center; }

.small-top-bottom-padding { padding: 1.5rem 0; }

.small-top-padding { padding-top: 1.5rem; }

.xsmall-top-padding { padding-top: 0.3rem; }

.small-right-padding { padding-right: 1.5rem; }

.small-bottom-padding { padding-bottom: 1.5rem; }

.small-left-padding { padding-left: 1.5rem; }

.whitespace-nowrap { white-space: nowrap; }

/* Non-reusable classes */
.the-lady-barber-logo { 
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.about-img {
    width: 15rem;
    height: auto;
    border-radius: 5%;
}

.google-facebook-logo {
    width: 30px;
    height: auto;
}

.google-map {
    height: 250px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Gallery Page classes */
.gallery-widget { border: 0.6rem solid var(--quarternary-color); border-radius: 2%; /*padding: 0.3rem;*/ }

.gallery-widget-grid {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
}

.gallery-widget-layer { 
    grid-row-start: 1;
    grid-column-start: 1;
}

.gallery-arrow-container {
    display: flex;
    background-color: var(--quarternary-color);
    /* background-color: rgba(224, 224, 224, .5); */
    /* background-color: white; */
    /* background-color: #DDDDDD; */
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;

    width: 60px;
    height: 60px;
    margin: auto;
}

.gallery-arrow-icon {
    /* width: 10px;
    height: auto; */
    outline: none;

    width: 15px;
    height: 15px;
    margin: auto;
}

.left-arrow { margin-left: 0.5rem; }

.right-arrow { margin-right: 0.5rem; }

.thumbnail {
    height: 75px;
    width: auto;
    border-radius: 5%;
    cursor: pointer;
}

.current-thumbnail { box-shadow: 0 -0.3rem #EC9536; }